@import url(./__form/repair__form.css);
@import url(./__input/repair__input.css);
@import url(./__button/repair__button.css);


.repair {
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
